{% extends "base.html" %}

{% block content %}
<main class="main main--content"> 
    <form action="{{url_for('login')}}" method="post">
    {% from "_formhelpers.html" import render_field %}
        <form method=post>
          <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
          </dl>
          <p><input type=submit value=Login>
    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
    </form>
</main>
{% endblock %} 

