{% extends "base.html" %}

{% block content %}
<p>Hello, World!</p>
<form action="{{url_for('message')}}" method="post">
    <div class="container">
        <label for="message"><b>message</b></label>
        <input type="text" placeholder="put your message here" name="message" 
        value="{{ content_from_db }}" required>

        <button type="submit" name="save_message" value="Save">Save</button>
        <button type="submit" name="write" value="write">write</button>
    </div>
    </form>
{% endblock %}